/Activos Frameworks/Jsf 2.0/jsf2.0-HelloWorld/nbproject/private/
/Activos Frameworks/Jsf 2.0/jsf2.0-HelloWorld/dist/
/Activos Frameworks/Jsf 2.0/jsf2.0-HelloWorld/build/
/Activos Frameworks/Jsf 2.0/jsf2.0-CrudPerson/nbproject/private/
/Activos Frameworks/Jsf 2.0/jsf2.0-CrudPerson/build/
/Activos Frameworks/Jsf 2.0/jsf2.0-CrudPerson/dist/